

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f0c864; /* light yellow background */
}

header {
  text-align: center;
  padding: 20px;
  background-color: #42b5ee; /* light blue header background */
  box-shadow: rgba(0,0,0,0.5) 0 5px 7px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

iframe {
  width: 100%;
  height: 600px;
}
